^contentpage {
    background-color: lightgray;
}

^button{
    background-color: blueviolet;
}

^label {
    background-color:cadetblue;
}

.myTextStyle {
     text-align: center;
     color: brown;
}

